@font-face{font-family:"CircularStd";src:url("../fonts/CircularStd-Black.eot");src:url("../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"),url("../fonts/CircularStd-Black.woff") format("woff"),url("../fonts/CircularStd-Black.ttf") format("truetype"),url("../fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd") format("svg");font-weight:800;font-style:normal}@font-face{font-family:"CircularStd";src:url("../fonts/CircularStd-BlackItalic.eot");src:url("../fonts/CircularStd-BlackItalic.eot?#iefix") format("embedded-opentype"),url("../fonts/CircularStd-BlackItalic.woff") format("woff"),url("../fonts/CircularStd-BlackItalic.ttf") format("truetype"),url("../fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");font-weight:800;font-style:italic}@font-face{font-family:"CircularStd";src:url("../fonts/CircularStd-Bold.eot");src:url("../fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"),url("../fonts/CircularStd-Bold.woff") format("woff"),url("../fonts/CircularStd-Bold.ttf") format("truetype"),url("../fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");font-weight:600;font-style:normal}@font-face{font-family:"CircularStd";src:url("../fonts/CircularStd-BoldItalic.eot");src:url("../fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"),url("../fonts/CircularStd-BoldItalic.woff") format("woff"),url("../fonts/CircularStd-BoldItalic.ttf") format("truetype"),url("../fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");font-weight:600;font-style:italic}@font-face{font-family:"CircularStd";src:url("../fonts/CircularStd-Medium.eot");src:url("../fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"),url("../fonts/CircularStd-Medium.woff") format("woff"),url("../fonts/CircularStd-Medium.ttf") format("truetype"),url("../fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd") format("svg");font-weight:500;font-style:normal}@font-face{font-family:"CircularStd";src:url("../fonts/CircularStd-MediumItalic.eot");src:url("../fonts/CircularStd-MediumItalic.eot?#iefix") format("embedded-opentype"),url("../fonts/CircularStd-MediumItalic.woff") format("woff"),url("../fonts/CircularStd-MediumItalic.ttf") format("truetype"),url("../fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");font-weight:500;font-style:italic}@font-face{font-family:"CircularStd";src:url("../fonts/CircularStd-Book.eot");src:url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"),url("../fonts/CircularStd-Book.woff") format("woff"),url("../fonts/CircularStd-Book.ttf") format("truetype"),url("../fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");font-weight:400;font-style:normal}@font-face{font-family:"CircularStd";src:url("../fonts/CircularStd-BookItalic.eot");src:url("../fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"),url("../fonts/CircularStd-BookItalic.woff") format("woff"),url("../fonts/CircularStd-BookItalic.ttf") format("truetype"),url("../fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");font-weight:400;font-style:italic}
$green:#73bc00;
$blue:#151e40;
$lightblue:#008dea;
$gray:#797d89;
$black:#292c37;
.black {
    color:$black;
}
.white {
    background-color: #fff;
}
.gray {
    color: $gray;
}
.book {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
.black {
    font-weight: 800;
}
.relative {
    position: relative;
}
body {
    font-family: "CircularStd",sans-serif;
    overflow-x: hidden;
    max-width: 1920px;
}
.btn {
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5rem;
    background-color: $green;
    transition: 0.3s;
}
.btn:hover {
    background-color: #fff;
    box-shadow: inset 0 0 0 0.2rem $green;
    color: $green;
}
#hero {
    position: relative;
    width: 100vw;
    .hero__row {
        height: 100%;
        .hero__item_1 {
            &::before {
                position: absolute;
                content: '';
                height: 98.95%;
                width: 10.5rem;
                left: 0;
                top: 0.04rem;
                border-top: 0.4rem solid $green;
                border-bottom: 0.4rem solid $green;
            }
        }
        .hero__item_2 {
            max-width: 87.5rem;
        }
        .nav {
            padding: 4.1rem 6.5rem 0 8.7rem;
            .nav__list_item {
                margin-right: 3.8rem;
                margin-top: 0.8rem;
                font-size: 1.6rem;
                a {
                    font-weight: bold;
                    color: $blue;
                }
            }
            .logo {
                max-width: 18rem;
            }
            .menu__phone {
                margin:0.8rem 7.3rem 0 7.62rem;
                font-weight: 500;
                font-size: 1.5rem;
                a {
                display: flex;
                align-items: center;
                color: $black;
                font-weight: medium;
                    svg {
                    fill:$black !important;
                    color: #000;
                    margin-right: 1rem;
                    margin-bottom: 0.5rem;
                   }
                }
            }
            .quote__btn {
                padding: 1.10rem 4.1rem;
                color: #fff;
                font-weight: 400;
                font-size: 1.6rem;
                background-color: $green;
                border-radius: 5rem;
                margin-left: 2.15rem;
            }
            .quote__btn:hover {
                background-color: #fff;
                box-shadow: inset 0 0 0 0.2rem $green;
                color: $green;
            }
        }
        .hero__content {
            position: absolute;
            top: 29.8%;
            left: 26.5%;
            right: 9.2%;
            margin: 0 0 19rem 0;
            &::before {
                position: absolute;
                content: '';
                height: 0.3rem;
                width: 10.5rem;
                top: 48%;
                left: -3%;
                transform: translateY(0) translateX(-51%);
                background-color: $lightblue;
            }
            h1 {
                font-size: 4.06rem;
                line-height: 6.5rem;
                .exp {
                    font-size: 4.05rem !important;
                }
            }
            p {
                margin: 8.25rem 0 5.3rem 0;
                font-size: 1.82rem;
                color: #545967;
            }
            .btn {
                padding: 1.5rem 8.0rem;
            }
            .hero__btn + .hero__btn {
                margin-left: 4.15rem;
                padding: 1.5rem 7rem;
                font-size: 1.35rem;
                border: 0.2rem solid $black;
                border-radius: 10rem;
                font-weight:800;
                color: $black;
                transition: 0.4s;
            }
            .hero__btn + .hero__btn:hover {
                background-color: $black;
                border: 0.2rem solid #fff;
                color: #fff;
            }
        }
        .hero__social {
            position: absolute;
            left: 0;
            bottom: 6.85rem;
            align-self: center;
            min-width: 9.2rem;
            .hero__social_icons {
               li {
                   margin-top: 3.7rem;
                   margin-bottom: 1rem;
                   font-size: 1.5rem;
                   a {
                       color: $black;
                       transition: 0.4s;
                   }
               }
               li:hover a {
                color: $lightblue;
               }
            }
        }
    }
}
#facilities {
    padding: 8.8rem 0 14rem;
    background-color: $blue;
    .facilities__item {
        padding: 2rem 5rem;
    }
    h3 {
        font-size: 1.8rem;
        margin: 2.7rem 0;
        color: #fff;
        font-weight: normal;
      
    }
    p {
        font-size: 1.4rem;
        color: $gray;
    }
    a {
        margin: 2.5rem 0 0 0;
        padding: 1.2rem 2.8rem;
        font-size: 1.3rem;
        border-radius: 2rem;
        border: 0.1rem solid $gray;
        color: #fff;
    }
}
#expirience {
    padding: 5rem 0;
    .exp__item {
        padding:0 3rem;
        .exp__slider {
            margin-top: -10rem;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                height: 94%;
                width: 94%;
                left: 0.5rem;
                top: 0;
                background-color: $lightblue;
            }
        }
    }
    .exp__item +.exp__item {
        img {
            max-height: 5rem;
        }
        .exp__text {
            margin-left: 3rem;
            h4 {
                font-size: 2.2rem;
            }
            p {
                margin-top: 1.8rem;
                font-size: 1.5rem;
                color: $gray;
            }
        }
        h5 {
            font-size: 1.5rem;
            font-weight: 500;
            color: $gray;
        }
        h3 {
            margin: 3rem 0 6rem;
            font-size: 2.4rem;
        }
    }
    .exp__row {
        margin: 0 -4rem;
        img {
            max-height: 5rem;
        }
        .exp__text {
            padding: 0 3.5rem;
            .exp__info_text {
                margin-left: 2rem;
                padding-right: 5rem;
                h4 {
                    font-size: 2.2rem;
                    color: #151e40;
                }
                p {
                    margin-top: 1.8rem;
                    font-size: 1.5rem;
                    color: #848791;
                }
            }
        h3 {
            margin-top: 2rem;
            margin-bottom: 3rem;
            font-size: 3.2rem;
            font-weight: 500;
        }
        p {
            font-size: 1.5rem;
            color: $gray;
        }
        p + p {
            margin-top: 3rem;
        }
      }
      .exp__info +.exp__info {
          margin-top: 10rem;
      }
      .exp__text + .exp__text {
        .exp__info {
            position: relative;
            &::before {
                position: absolute;
                content: '';
                top: -5rem;
                left: 0;
                width: 100%;
                height: 0.1rem;
                background-color: #e7e7e7;
            }
        }
          .exp__info +.exp__info {
              &::before {                
                  height: 0.2rem;
              }
          }
      }
    }
}
#trust {
    padding: 5rem 0;
    .trust__col {
        padding: 1rem;
    }
    .trust__item {
        height: 100%;
        width: 100%;
        text-align: center;
        padding: 5rem 0 !important;
        border-radius: 1.5rem;
        border: 0.1rem solid $gray;
        background-color: #fff;
        transition: 0.2s;
        transform: scale(1);
        img {
            min-height: 6.5rem;
            max-width: 16rem;
        }
        .img_resize {
            padding-left: 4rem;
            min-height: 8.5rem;
            max-width: 18rem;
        }  
    }
}
#services {
    padding: 9rem 0;
    background-color: #fafafa;
    .row {
        margin: 0 -1rem;
    }
    .services__col:hover .services__item{
        transform: scale(1.05);
    }
    .services__item {
        height: 100%;
        width: 100%;
        padding: 3.5rem 1rem !important;
        border-radius: 1.5rem;
        border: 0.1rem solid $gray;
        background-color: #fff;
        transition: 0.2s;
        transform: scale(1);
        img {
            min-height: 12rem;
        }
        h4 {
            margin-top: 3rem;
            font-size: 1.8rem;
            color: $blue;
            font-weight: 500;
        }
    }
}
footer {
    padding: 9rem 0 9.5rem;
    h4 {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: $gray;
    }
    .company {
        li {
            margin-bottom: 1.5rem;
            a {
                font-size: 1.5rem;
                font-weight: 800;
                color: $blue;
            }
        }
    }
    .call {
        li {
            margin-bottom: 1.5rem;
            i {
                display:inline-block;
                font-size: 1.6rem !important;
                margin-right: 1rem;
                width: 1.5rem;
                font-weight: 800;
            }
            a {
                font-size: 1.5rem;
                font-weight: 800;
                color: $blue;
            }
        }
    }
    form {
        input {
            display: block;
            max-width: 23.5rem;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1rem;
            margin-bottom: 1rem;
            padding: 1.5rem 2rem 1.2rem 2rem;
            border-radius: 10rem;
            color: $blue;
            background-color: #f0f2f7;
            outline: none;
            border: none;
            &::placeholder {
                color: $blue;
                font-weight: 800;
                font-size: 1.21rem;
            }
        }
    }
    .submit {
        display: inline-block;
        max-width: 23.5rem;
        padding: 1.2rem 0;
        border: none;
        font-size: 1.2rem;
        border-radius: 10rem;
        color: #fff;
        background-color: $blue;
        transition: 0.3s;
        cursor: pointer;
    }
    .submit:hover {
        box-shadow: 0 0 0 0.2rem $blue;
        background-color: #fff;
        color: $blue;
    }
    .social {
        li {
            margin-right: 2rem;
            a {
            min-width: 3.8rem;
            min-height: 3.8rem;
            font-size: 1.5rem;
            color: #fff;
            background-color: $gray;
            border-radius: 50%;
            transition: 0.3s;
            }
            a:hover {
                background-color: $green;
            }
        }
    }
    .footer__bottom {
        padding: 7.5rem 0 0;
        font-size: 1.4rem;
        color: $gray;
        .foot__item_list {
            float: right;
            li {
                margin-right: 2.5rem;
                margin-left: 2.5rem;
            }
            li:nth-child(2) {
                position: relative;
            }
            li:nth-child(2):before {
                left: -25%;
            }
            li:nth-child(2):before,li:nth-child(2):after {
                position: absolute;
                content: '';
                height: 100%;
                width: 0.1rem;
                background-color: $gray;
            }
            li:nth-child(2):after {
                right: -25%;
            }
            a {
                font-weight: 500;
                color: $gray;
                transition: 0.3s;
            }
            a:hover {
                color: $blue;
            }
        }
    }
}
.mobile__btn {
    position: fixed;
    right: 6rem;
    top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    background-color: $green;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999999;
    span {
        position: relative;
        height: 0.3rem;
        width: 60%;
        background-color: #fff;
    }
        span::before,span::after {
            content: '';
            position: absolute;
            height: 0.3rem;
            width: 100%;
            background-color: inherit;
            transition: 0.3s;
        }
        span::before {
            transform: translateY(-1rem);
        }
        span::after {
            transform: translateY(1rem);
        }
}
.mobile__btn_active span {
    height: 0;
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
}
.nav-list-active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 9999;
    li {
        text-align: center;
        text-transform: uppercase;
        margin:3rem 0 !important;
    }
    .menu__phone, .nav__list,.menu__quote {
        display: block !important;
    }
}
.owl-dots {
    display: none !important;
}


















@media screen and (max-width:1880px) {
    html {
        font-size: 9.5px;
    }
}

@media screen and (max-width:1440px) {
    html {
        font-size: 7px;
    }
}
@media screen and (max-width:1326px) {
    html {
        font-size: 6.5px;
    }
}
@media screen and (max-width:1024px) {
    .hero__row {
        flex-wrap: wrap;
        .quote__btn {
            margin-left: 0 !important;
        }
        .hero__item_1 {
            height: 100vh;
            width: 100%;
            .nav__list {
                margin: 2rem 0;
                flex-direction: column;
            }
            .menu__phone, .nav__list,.menu__quote {
                display: none;
            }
        }
        .hero__item_2 {
            max-width: 100% !important;
        }
    }
    .footer__item {
        padding: 2rem 0;
    }
    .foot__item_list {
        float: left !important;
        margin-top: 1rem;
        flex-direction: column;
        li {
            margin-top: 2rem;
            margin-left: 0 !important;
            &::before,&::after {
                display: none;
            }
        }
    }
}

@media screen and (max-width:768px) {
    #hero {
    .hero__row {
        flex-wrap: wrap;
        .hero__btns {
            display: flex;
            flex-direction: column;
            align-items: center;
           a {
            display: inline-block;
            max-width: 24.5rem;
        }
        }
        .hero__item_1 {
            height: 80vh;
            width: 100%;
        }
        .hero__content .hero__btn + .hero__btn {
            margin-left:0 !important;
            margin-top: 2rem !important;
            text-align: center;
            padding: 1.3rem 9rem;
    }
}
     .hero__row .hero__content {
        position: absolute;
        top: 22%;
        left: 20%;
        right: 10%;
        &::before {
            display: none;
        }
        h1 {
            position: relative;
            &::before {
                position: absolute;
                content: '';
                height: 10.5rem;
                width: 0.3rem;
                top: 45%;
                left: -10%;
                transform: translateY(0) translateX(-51%);
                background-color: $lightblue;
            }
        }
    }
 }
}
@media screen and (max-width:560px) {
    .hero__row {
        .hero__item_1 {
            height: 100vh!important;
            width: 100%;
        }
    }
    .hero__row .hero__content {
        position: absolute;
        top: 18% !important;
        left: 20%;
        right: 10%;
    }
}